Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-prettier, frontend-lint, frontend-typecheck

frontend-prettier:
  name: frontend-prettier
  entry: npm run prettier
  language: system

frontend-lint:
  name: frontend-lint
  entry: npm run lint-fix
  language: system
  pass_filenames: false

frontend-typecheck:
  name: frontend-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

moving python
  .pre-commit-config.yaml
  LICENSE
  README.md
  demo/server.py
  demo/tsconfig.json
  demo/vite.config.ts
  package.json
  pyproject.toml
  python/fastui/__init__.py
  python/fastui/components/__init__.py
  python/fastui/components/events.py
  python/fastui/components/extra.py
  python/fastui/components/table.py
  react/fastui/DefaultLoading.tsx
  react/fastui/components/FormField.tsx
  react/fastui/components/Json.tsx
  react/fastui/components/button.tsx
  react/fastui/components/display.tsx
  react/fastui/components/div.tsx
  react/fastui/components/heading.tsx
  react/fastui/components/index.tsx
  react/fastui/components/link.tsx
  react/fastui/components/modal.css
  react/fastui/components/modal.tsx
  react/fastui/components/table.tsx
  react/fastui/components/text.tsx
  react/fastui/controller.tsx
  react/fastui/display.ts
  react/fastui/hooks/className.ts
  react/fastui/hooks/customRender.ts
  react/fastui/hooks/error.tsx
  react/fastui/hooks/event.ts
  react/fastui/hooks/locationContext.tsx
  react/fastui/index.tsx
  tsconfig.json
Due: frontend-prettier, frontend-lint, frontend-typecheck

python setup
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  python/fastui/__init__.py
  python/fastui/components/__init__.py
  python/fastui/components/events.py
  python/fastui/components/extra.py
  python/fastui/components/table.py
  python/requirements/all.txt
  python/requirements/lint.in
  python/requirements/lint.txt
  python/requirements/pyproject.txt
Due: none

add CI
  .github/workflows/ci.yml
  README.md
Due: frontend-prettier

adding node and "npm install" to ci
  .github/workflows/ci.yml
Due: none

tweak pre-commit and ci
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fixing development
  Makefile
  demo/server.py
  python/fastui/__init__.py
  python/fastui/components/__init__.py
  python/fastui/components/table.py
  python/fastui/display.py
  python/fastui/events.py
Due: none

update repo name
  README.md
  pyproject.toml
Due: frontend-prettier

fix badge
  README.md
Due: frontend-prettier

Forms, WIP
  demo/server.py
  python/fastui/components/__init__.py
  python/fastui/components/forms.py
  python/fastui/components/tables.py
Due: none

working on form response handling
  .github/workflows/ci.yml
  demo/server.py
  python/fastui/components/__init__.py
  python/fastui/components/forms.py
  react/fastui/JsonSchema.ts
  react/fastui/components/FormField.tsx
  react/fastui/components/Json.tsx
  react/fastui/components/display.tsx
  react/fastui/components/form.tsx
  react/fastui/components/index.tsx
  react/fastui/components/table.tsx
  tsconfig.json
Due: frontend-prettier, frontend-lint, frontend-typecheck

support nested models in forms
  demo/server.py
  react/fastui/JsonSchema.ts
  react/fastui/components/form.tsx
Due: frontend-prettier, frontend-lint, frontend-typecheck

server side form prep
  demo/server.py
  python/fastui/components/__init__.py
  python/fastui/components/forms.py
  python/fastui/json_schema.py
  react/fastui/JsonSchema.ts
  react/fastui/components/FormField.tsx
  react/fastui/components/display.tsx
  react/fastui/components/form.tsx
  react/fastui/components/index.tsx
  react/fastui/controller.tsx
  react/fastui/tools.ts
Due: frontend-prettier, frontend-lint, frontend-typecheck

form submission working
  demo/server.py
  python/fastui/components/__init__.py
  python/fastui/components/forms.py
  python/fastui/form_extract.py
  python/fastui/json_schema.py
  react/fastui/components/form.tsx
  react/fastui/controller.tsx
  react/fastui/tools.ts
Due: frontend-prettier, frontend-lint, frontend-typecheck

form submission working
  .eslintrc.cjs
  demo/server.py
  python/fastui/__init__.py
  python/fastui/components/forms.py
  python/fastui/events.py
  python/fastui/form_extract.py
  python/fastui/json_schema.py
  react/fastui/components/FormField.tsx
  react/fastui/components/form.tsx
  react/fastui/hooks/error.tsx
Due: frontend-prettier, frontend-lint, frontend-typecheck

select working
  demo/server.py
  python/fastui/components/__init__.py
  python/fastui/components/forms.py
  python/fastui/json_schema.py
  react/fastui/components/FormField.tsx
  react/fastui/components/button.tsx
  react/fastui/components/form.tsx
  react/fastui/components/index.tsx
Due: frontend-prettier, frontend-lint, frontend-typecheck

fixing selects
  demo/server.py
  python/fastui/form_extract.py
  python/fastui/json_schema.py
  react/fastui/components/FormField.tsx
Due: frontend-prettier, frontend-lint, frontend-typecheck

file upload working
  demo/server.py
  python/fastui/__init__.py
  python/fastui/components/forms.py
  python/fastui/form_extract.py
  python/fastui/forms.py
  python/fastui/json_schema.py
  react/fastui/components/FormField.tsx
  react/fastui/components/index.tsx
Due: frontend-prettier, frontend-lint, frontend-typecheck

file upload working
  demo/server.py
  python/fastui/forms.py
  python/fastui/json_schema.py
Due: none

Forms (#2)
  .eslintrc.cjs
  .github/workflows/ci.yml
  demo/server.py
  python/fastui/__init__.py
  python/fastui/components/__init__.py
  python/fastui/components/forms.py
  python/fastui/components/tables.py
  python/fastui/events.py
  python/fastui/forms.py
  python/fastui/json_schema.py
  react/fastui/components/FormField.tsx
  react/fastui/components/Json.tsx
  react/fastui/components/button.tsx
  react/fastui/components/display.tsx
  react/fastui/components/form.tsx
  react/fastui/components/index.tsx
  react/fastui/components/table.tsx
  react/fastui/controller.tsx
  react/fastui/hooks/error.tsx
  react/fastui/tools.ts
  tsconfig.json
Due: frontend-prettier, frontend-lint, frontend-typecheck

implementing dev live reload
  demo/server.py
  demo/src/App.tsx
  python/fastui/__init__.py
  python/fastui/dev.py
  react/fastui/controller.tsx
  react/fastui/hooks/dev.tsx
  react/fastui/index.tsx
Due: frontend-prettier, frontend-lint, frontend-typecheck

tweak reload logic
  react/fastui/hooks/dev.tsx
Due: frontend-prettier, frontend-lint, frontend-typecheck

tweaking dev reload server
  demo/server.py
  demo/src/App.tsx
  react/fastui/hooks/dev.tsx
  react/fastui/index.tsx
Due: frontend-prettier, frontend-lint, frontend-typecheck

add node types to fix ci
  package-lock.json
  package.json
Due: frontend-prettier

Dev reload (#3)
  demo/server.py
  package-lock.json
  package.json
  python/fastui/__init__.py
  python/fastui/dev.py
  react/fastui/controller.tsx
  react/fastui/hooks/dev.tsx
  react/fastui/index.tsx
Due: frontend-prettier, frontend-lint, frontend-typecheck

refactoring to packages
  .eslintrc.cjs
  .gitignore
  .pre-commit-config.yaml
  demo/tsconfig.json
  package-lock.json
  package.json
  packages/fastui/src/DefaultLoading.tsx
  packages/fastui/src/components/FormField.tsx
  packages/fastui/src/components/Json.tsx
  packages/fastui/src/components/button.tsx
  packages/fastui/src/components/display.tsx
  packages/fastui/src/components/div.tsx
  packages/fastui/src/components/form.tsx
  packages/fastui/src/components/heading.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/components/link.tsx
  packages/fastui/src/components/modal.css
  packages/fastui/src/components/modal.tsx
  packages/fastui/src/components/table.tsx
  packages/fastui/src/components/text.tsx
  packages/fastui/src/controller.tsx
  packages/fastui/src/display.ts
  packages/fastui/src/hooks/className.ts
  packages/fastui/src/hooks/customRender.ts
  packages/fastui/src/hooks/dev.tsx
  packages/fastui/src/hooks/error.tsx
  packages/fastui/src/hooks/event.ts
  packages/fastui/src/hooks/locationContext.tsx
  packages/fastui/src/index.tsx
  packages/fastui/src/tools.ts
  packages/vanilla/index.html
  packages/vanilla/server.py
  packages/vanilla/src/App.tsx
  packages/vanilla/src/main.scss
  packages/vanilla/src/main.tsx
  packages/vanilla/src/vite-env.d.ts
  packages/vanilla/tsconfig.json
  packages/vanilla/tsconfig.node.json
  packages/vanilla/vite.config.ts
  tsconfig.json
Due: frontend-prettier, frontend-lint, frontend-typecheck

add extra files
  packages/fastui/package.json
  packages/fastui/tsconfig.json
  packages/vanilla/package.json
Due: frontend-prettier

fix build add ci job
  .github/workflows/ci.yml
  package.json
  packages/vanilla/package.json
Due: frontend-prettier

tweaks
  .eslintrc.cjs
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/vanilla/package.json
Due: frontend-prettier

remove reference to vite.svg
  packages/vanilla/index.html
Due: none

create fastui-bootstrap
  Makefile
  package-lock.json
  package.json
  packages/fastui-bootstrap/package.json
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui-bootstrap/src/main.scss
  packages/fastui-bootstrap/tsconfig.json
  packages/fastui/package.json
  packages/vanilla/package.json
  packages/vanilla/src/App.tsx
  packages/vanilla/src/main.tsx
  packages/vanilla/tsconfig.json
  packages/vanilla/vite.config.ts
  python/demo/__init__.py
  python/demo/main.py
Due: frontend-prettier, frontend-lint, frontend-typecheck

server load
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/components/display.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/controller.tsx
  packages/fastui/src/hooks/config.ts
  packages/fastui/src/hooks/customRender.ts
  packages/fastui/src/index.tsx
  python/demo/main.py
  python/fastui/components/__init__.py
Due: frontend-prettier, frontend-lint, frontend-typecheck

server load (#6)
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/components/display.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/controller.tsx
  packages/fastui/src/hooks/config.ts
  packages/fastui/src/hooks/customRender.ts
  packages/fastui/src/index.tsx
  python/demo/main.py
  python/fastui/components/__init__.py
Due: frontend-prettier, frontend-lint, frontend-typecheck

simplify className usage
  packages/fastui/src/components/FormField.tsx
  packages/fastui/src/components/Json.tsx
  packages/fastui/src/components/button.tsx
  packages/fastui/src/components/div.tsx
  packages/fastui/src/components/form.tsx
  packages/fastui/src/components/heading.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/components/link.tsx
  packages/fastui/src/components/modal.tsx
  packages/fastui/src/components/table.tsx
  packages/fastui/src/hooks/className.ts
  python/fastui/components/forms.py
  python/fastui/json_schema.py
Due: frontend-prettier, frontend-lint, frontend-typecheck

adding some bootstrap classes
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/src/index.tsx
Due: frontend-prettier, frontend-lint, frontend-typecheck

more work on forms
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/src/components/button.tsx
  packages/fastui/src/components/form.tsx
  packages/fastui/src/components/link.tsx
  packages/fastui/src/components/table.tsx
  packages/fastui/src/hooks/className.ts
  packages/fastui/src/hooks/event.ts
  packages/fastui/src/hooks/locationContext.tsx
  packages/fastui/src/index.tsx
  python/demo/main.py
  python/fastui/components/__init__.py
  python/fastui/events.py
Due: frontend-prettier, frontend-lint, frontend-typecheck

fix types
  packages/fastui/src/components/index.tsx
  packages/fastui/src/index.tsx
Due: frontend-prettier, frontend-lint, frontend-typecheck

modals working with bootstrap-react
  .eslintrc.cjs
  package-lock.json
  packages/fastui-bootstrap/package.json
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui-bootstrap/src/main.scss
  packages/fastui-bootstrap/src/modal.tsx
  packages/fastui/src/components/button.tsx
  packages/fastui/src/components/form.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/components/link.tsx
  packages/fastui/src/components/modal.tsx
  packages/fastui/src/components/table.tsx
  packages/fastui/src/hooks/events.ts
  packages/fastui/src/index.tsx
  python/demo/main.py
  python/fastui/components/__init__.py
  python/fastui/components/tables.py
  python/fastui/events.py
  python/fastui/forms.py
Due: frontend-prettier, frontend-lint, frontend-typecheck

navbar working
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui-bootstrap/src/modal.tsx
  packages/fastui-bootstrap/src/navbar.tsx
  packages/fastui/src/components/LinkList.tsx
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/components/display.tsx
  packages/fastui/src/components/div.tsx
  packages/fastui/src/components/form.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/components/link.tsx
  packages/fastui/src/components/modal.tsx
  packages/fastui/src/components/navbar.tsx
  packages/fastui/src/hooks/className.ts
  packages/fastui/src/hooks/locationContext.tsx
  packages/fastui/src/index.tsx
  python/demo/main.py
  python/fastui/__init__.py
  python/fastui/components/__init__.py
Due: frontend-prettier, frontend-lint, frontend-typecheck

adding paragraph and page title
  packages/fastui-bootstrap/src/main.scss
  packages/fastui/src/components/PageTitle.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/components/modal.css
  packages/fastui/src/components/modal.tsx
  packages/fastui/src/components/paragraph.tsx
  packages/vanilla/index.html
  python/demo/main.py
  python/fastui/components/__init__.py
Due: frontend-prettier, frontend-lint, frontend-typecheck

Path conditions:
  frontend-prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  frontend-lint: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
